.toastui-editor-defaultUI {
    border: 0px solid $color-bg !important;

    .toastui-editor-toolbar {
        .toastui-editor-md-tab-container {
            background: none !important;
        }

        .toastui-editor-defaultUI-toolbar {
            background: none;
        }
    }

    .toastui-editor-main {
        .toastui-editor-main-container {
            .toastui-editor-md-container {
                .toastui-editor-md-preview {
                    .toastui-editor-contents {
                        font-size: 14px;

                        h1 {
                            border-bottom: 0px solid #dbdbdb;
                        }

                        h2 {
                            border-bottom: 0px solid #dbdbdb;
                        }
                    }
                }
            }
        }
    }
}

.toastui-editor-contents {
    font-size: 14px !important;
    color: $color-secondary;

    p {
        color: $color-secondary !important;
    }

    pre {
        padding: 12px !important;
        border: 1px solid $color-gray-light !important;
        border-radius: 5px !important;
        background-color: $color-white !important;
    }

    h1, h2, h3, h4 {
        color: $color-secondary !important;
        font-weight: 600 !important;
        border-bottom: 0 solid #dbdbdb !important;
    }
}

.ProseMirror {
    font-size: 14px !important;
}
